#{ define "page_client" }#
<!doctype html>
<html lang="en" ng-app="betwixt-app">
<head>
    <title>:: betwixt webadmin ::</title>
    #{ template "head" }#
</head>
<body ng-controller="clientController">
    <br />
    #{ template "stats" }#
    <br /><br /><br />

    <style>
        .btn {
            border: 1px solid white;
            color: white;
            padding: 5px;
            border-radius: 3px;
        }
    </style>

    <div class="container">
        <h4>Client: {{ client.Endpoint }} ({{ client.RegistrationID }})</h4>
        <h5>Connected: {{ client.RegistrationDate }}</h5>
        <hr />
        <div ng-repeat="(key, value) in client.Objects">
            <div class="row">
                <div class="nine columns"><h6>{{ value.Definition.Name }}</h6></div>
                <div class="three columns">
                    <button type="button">New Instance</button>
                </div>
            </div>

            <div ng-repeat="objInstance in value.Instances">
                <div class="row">
                    <div class="nine columns">Instance {{ objInstance }} - /{{ key }}/{{ objInstance }}</div>
                    <div class="three columns">
                        <button type="button">Delete Instance</button>
                    </div>
                </div>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Path</th>
                        <th>Operations</th>
                        <th>Name</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="resource in value.Definition.Resources">
                        <td>/{{ key }}/{{ objInstance }}/{{ resource.Id }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="#" ng-show="{{ IsExecutable(resource) }}" ng-click="opExecute(client.Endpoint, key, objInstance, resource.Id)"><i class="fa fa-gear"></i></a>
                                <a class="btn btn-default" href="#" ng-show="{{ IsExecutable(resource) }}" ng-click="opExecute(client.Endpoint, key, objInstance, resource.Id)"><i class="fa fa-gears"></i></a>
                                <a class="btn btn-default" href="#" ng-show="{{ IsReadable(resource) }}" ng-click="opObserve(client.Endpoint, key, objInstance, resource.Id)"><i class="fa fa-search-plus"></i></a>
                                <a class="btn btn-default" href="#" ng-show="{{ IsReadable(resource) }}" ng-click="opCancelObserve(client.Endpoint, key, objInstance, resource.Id)"><i class="fa fa-search-minus"></i></a>
                                <a class="btn btn-default" href="#" ng-show="{{ IsReadable(resource) }}" ng-click="opRead(client.Endpoint, key, objInstance, resource.Id)"><i class="fa fa-external-link"></i></a>
                                <a class="btn btn-default" href="#" ng-show="{{ IsWritable(resource) }}" ng-click="opWrite(client.Endpoint, key, objInstance, resource.Id)"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </td>
                        <td>{{ resource.Name }}</td>
                        <td>{{ resourcevalue['/' + key + '/' + objInstance + '/' + resource.Id] }}</td>
                    </tr>
                    </tbody>
                </table>
                <br /><br />
            </div>
            <br /><br />
        </div>
    </div>
</body>
</html>
#{ end }#

<!--
    Read

    Delete
-->